/* Section one */
@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }
  .footer-input {
    width: 396px;
  }
  .ftr-one-item {
    display: block;
    margin: 0 auto;
  }
  .box-ftr {
    display: block;
    margin: 0 auto;
  }
  .ftr-social-text {
    margin-top: 72px;
    text-align: center;
  }
  .ftr-logo {
    justify-content: center;
  }
  .section-main {
    max-width: 426px;
  }
  .sectoin-main-title {
    font-size: 36px;
    width: 320px;
  }
  .modal {
    width: 392px;
  }
  .modal-title {
    font-size: 16px;
  }
  .modal-check-text {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }
  .section-one-stitle {
    text-align: left;
  }
  .text-item {
    font-size: 16px;
  }
  .section-one-list {
    gap: 72px 24px;
  }
  .section-one-item {
    width: 356px;
  }
  .section-three-list {
    flex-basis: calc((100% - 24px) / 2);
  }

  .three-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 552px;
    margin: 0 auto;
    gap: 64px 24px;
  }
  .customers-list {
    max-width: 552px;
    gap: 72px 24px;
    margin: 0 auto;
  }
  .customers-item {
    width: calc((100% - 48px) / 3);
  }
  .footer-input {
    width: 264px;
  }
  .box-form {
    display: block;
    padding-left: 108px;
  }
  .ftr-social-text {
    text-align: left;
  }
  .box-ftr {
    margin-left: 24px;
  }
  .ftr-one-item {
    margin: 0;
    padding-left: 108px;
  }
  .ftr-logo {
    justify-content: left;
  }
  .section-main {
    padding: 112px 136px;
    max-width: 766px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-pl.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-main {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-pl-2x.jpg);
    }
  }
  .sectoin-main-title {
    font-size: 56px;
    width: 496px;
    margin-bottom: 36px;
  }
  .modal {
    width: 408px;
  }
  .menu-open-mobil {
    display: none;
  }
  .header-menu {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .address-list {
    display: block;
    margin-bottom: 12px;
  }
  .address-list,
  .address {
    color: var(--slate);
    background-color: var(--white);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .section-one-list {
    /*flex-basis: calc((100% - 72px) / 4);*/
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .section-one-item {
    width: 264px;
  }
  .one-item {
    background: var(--cloud);
    width: 264px;
    height: 112px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 8px;
  }
  .text-item {
    font-size: 16px;
    font-weight: 400;
  }

  .section-one {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .section-two-title {
    color: var(--navyblue);
    background: var(--white);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    display: block;
  }
  .section-two {
    padding-bottom: 120px;
  }
  .section-two-list {
    display: flex;
    gap: 24px;
  }
  .three-list {
    max-width: 1128px;
  }
  .section-three-list {
    flex-basis: calc((100% - 72px) / 4);
  }
  .customers-item {
    width: calc((100% - 120px) / 6);
    width: 168px;
    height: 88px;
  }
  .customers-list {
    max-width: 1128px;
  }
  .footer-container {
    flex-wrap: nowrap;
  }
  .box-form {
    display: flex;
    justify-content: left;
    padding-left: 80px;
  }
  .ftr-one-item {
    display: inline-block;
    padding: 0%;
  }
  .box-ftr {
    padding-left: 120px;
  }
  .ftr-logo {
    justify-content: center;
  }
  .section-main {
    max-width: 1158px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-main {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-2x.jpg);
    }
  }
  .sectoin-main-title {
    margin-bottom: 48px;
  }
  .address-list {
    display: flex;
    gap: 40px;
    margin-bottom: 0;
  }
  .address-list,
  .address {
    color: var(--slate);
    background-color: var(--white);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
